.flexbox-container{
   display: flex;
   justify-content: center;
   width: 100%;
}

.flexbox-item{
    list-style: none;
    display: inline;
    margin: 10px auto;
    padding: 5px 10px;
    border-right: 2px solid black;
}
